In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
df=pd.read_csv(r'C:\Users\User\Desktop\weatherAUS.csv')

In [3]:
df.sample(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
55322,11-09-2013,Ballarat,6.2,13.5,1.8,NaN,NaN,WNW,48.0,W,...,51.0,1011.8,1012.1,8.0,7.0,8.2,11.9,Yes,0.4,No
646,17-09-2010,Albury,4.3,14.3,0.2,NaN,NaN,SW,39.0,W,...,54.0,1024.0,1021.9,NaN,5.0,8.8,13.7,No,0.0,No
122245,22-11-2012,SalmonGums,16.9,35.7,0.0,NaN,NaN,NW,83.0,NNE,...,20.0,NaN,NaN,NaN,NaN,27.2,34.3,No,13.2,Yes
7440,16-05-2013,Cobar,10.2,19.2,0.0,3.0,NaN,WSW,39.0,W,...,48.0,1015.2,1012.8,4.0,7.0,14.0,17.9,No,0.2,No
103450,20-04-2010,Woomera,19.0,30.3,0.0,7.2,4.4,NE,67.0,NE,...,89.0,1017.8,1015.2,6.0,8.0,21.5,19.2,No,9.0,Yes

In [4]:
df.shape

(142193, 24)

In [5]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [6]:
df.isnull().any()

Date             False
Location         False
MinTemp           True
MaxTemp           True
Rainfall          True
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
RISK_MM          False
RainTomorrow     False
dtype: bool

In [7]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [8]:
df.count().sort_values()#this counts total number of values in each column and arranges the count in accending order.

Sunshine          74377
Evaporation       81350
Cloud3pm          85099
Cloud9am          88536
Pressure9am      128179
Pressure3pm      128212
WindDir9am       132180
WindGustDir      132863
WindGustSpeed    132923
WindDir3pm       138415
Humidity3pm      138583
Temp3pm          139467
WindSpeed3pm     139563
Humidity9am      140419
RainToday        140787
Rainfall         140787
WindSpeed9am     140845
Temp9am          141289
MinTemp          141556
MaxTemp          141871
Date             142193
Location         142193
RISK_MM          142193
RainTomorrow     142193
dtype: int64

In [9]:
df=df.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am','Date','Location','RISK_MM'],axis=1)

In [10]:
df.shape

(142193, 17)

In [11]:
df['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
df['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)

In [12]:
WindGustDir_list = df['WindGustDir'].value_counts().index.tolist()
WindGustDir_mapping = { i:j for i,j in zip( WindGustDir_list, range(len(WindGustDir_list)) ) } 
df['WindGustDir'] = df['WindGustDir'].map( WindGustDir_mapping ) 
#We need to convert all the string values in WindGustDir into integer or float.

In [13]:
WindGustDir_mapping

{'W': 0,
 'SE': 1,
 'E': 2,
 'N': 3,
 'SSE': 4,
 'S': 5,
 'WSW': 6,
 'SW': 7,
 'SSW': 8,
 'WNW': 9,
 'NW': 10,
 'ENE': 11,
 'ESE': 12,
 'NE': 13,
 'NNW': 14,
 'NNE': 15}

In [14]:
WindDir9am_list = df['WindDir9am'].value_counts().index.tolist()
WindDir9am_mapping = { i:j for i,j in zip( WindDir9am_list, range(len(WindDir9am_list)) ) } 
df['WindDir9am'] = df['WindDir9am'].map( WindDir9am_mapping )

In [15]:
''' OBSERVATION:
WindDir3pm should be transfromed into interger or float64'''
WindDir3pm_list = df['WindDir3pm'].value_counts().index.tolist()
WindDir3pm_mapping = { i:j for i,j in zip( WindDir3pm_list, range(len(WindDir3pm_list)) ) } 
df['WindDir3pm'] = df['WindDir3pm'].map( WindDir3pm_mapping )

In [16]:
null_col=df.columns[df.isnull().any()]

In [17]:
null_col

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir', 'WindGustSpeed',
       'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am',
       'Temp3pm', 'RainToday'],
      dtype='object')

In [18]:
for col in null_col:
    mean=df[col].mean()
    df[col].fillna( mean, inplace=True )
    df[col].fillna( mean, inplace=True )
#we need to fill the blank values with the mean of each columns.

In [19]:
df.isnull().any()

MinTemp          False
MaxTemp          False
Rainfall         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
dtype: bool

In [20]:
X=df.values[:,0:16]
Y=df.values[:,16]

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=40)
clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=14,min_samples_leaf=12)

In [22]:
clf_entropy.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=14,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=12, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=100, splitter='best')

In [23]:
y_pred=clf_entropy.predict(X_test)

In [24]:
len(y_pred)

28439

In [25]:
accuracy_score(Y_test,y_pred)*100

82.19698301628046